NEXT_PUBLIC_APP_NAME="SMP Unggulan Hamzanwadi"
NEXT_PUBLIC_APP_LOGO="/assets/images/smp-unggulan-hamzanwadi.jpg"
NEXT_PUBLIC_APP_LOGO_PANJANG="/assets/images/smp-unggulan-hamzanwadi-panjang.png"

NEXT_PUBLIC_BASE_URL="http://localhost:3000"
NEXT_PUBLIC_API_URL="http://localhost:8080"