NEXT_PUBLIC_APP_NAME="SMP Unggulan Hamzanwadi"
NEXT_PUBLIC_APP_LOGO=/assets/images/smp-unggulan-hamzanwadi.jpg
NEXT_PUBLIC_APP_LOGO_PANJANG=/assets/images/smp-unggulan-hamzanwadi-panjang.png
NEXT_PUBLIC_APP_LOGO_PANJANGBW=/assets/images/smp-unggulan-hamzanwadi-panjang-bw.png

NEXT_PUBLIC_BASE_URL=https://smpuhamzanwadi.vercel.app
NEXT_PUBLIC_API_URL=https://smpuhamzanwadi-back.vercel.app

NEXT_PUBLIC_KEPALASEKOLAH="Abrul Wahid, S.Pd"
NEXT_PUBLIC_KEPALASEKOLAH_PHOTO="/assets/images/kepala-sekolah.png"
NEXT_PUBLIC_SAMBUTAN="Sebagai lembaga pendidikan, SMK Negeri 1 Selong tanggap dengan perkembangan teknologi tersebut. Dengan dukungan SDM yang di miliki sekolah ini siap untuk berkompetisi dengan sekolah lain dalam pelayanan informasi publik. Teknologi Informasi Web khususnya, menjadi sarana bagi SMK Negeri 1 Selong untuk memberi pelayanan informasi secara cepat, jelas, dan akuntable. Dari layanan ini pula, sekolah siap menerima saran dari semua pihak yang akhirnya dapat menjawab Kebutuhan masyarakat.
Terima Kasih telah berkunjung ke website kami, kami meminta saran dan kritik yang membangun untuk perbaikan dalam berbagai bidang."

NEXT_PUBLIC_TINYMCE_APIKEY=hllw31qxpvw08xko1m5qfj9r5yd67zna3w5ucc0by5ytlemg